.container {
    display: flex;
    justify-content: left;
}

img {
    position: absolute
}

.container div {
    font-size: 48px;
    color:greenyellow;
    font-family:Verdana;
    position: absolute;
    top: 75px;
    left: 315px;
}

.navbar {
    background-color:orangered;
    position: absolute;
    top: 207px;
    width: 667px;
}

.main {
    display: flex;
    flex-direction:column
}

.text {
    display:flex;
    position: absolute;
    top: 250px;
}

.image1 {
    display:flex;
    position: absolute;
    top: 300px;
}

.image2 {
    display:flex;
    position: absolute;
    top: 500px;
}

.image3 {
    display:flex;
    position: absolute;
    top: 700px;
}

.footer {
    background-color:aquamarine;
    position: absolute;
    top: 950px;
    width: 667px;
}

body {
    justify-content:left;
    align-items:flex-start;
    flex-grow:center;
}